In [1]:
import numpy as np
import pandas as pd

import torch
from torch import nn

In [2]:
sample_submission = pd.read_csv('./dataset/sample_submission.csv')
train_data = pd.read_csv('./dataset/train.csv')
test_data = pd.read_csv('./dataset/test.csv')

In [4]:
train_data.describe()

               image             label
count          18353             18353
unique         18353               176
top     images/0.jpg  maclura_pomifera
freq               1               353

In [5]:
test_data.describe()

                   image
count               8800
unique              8800
top     images/18353.jpg
freq                   1